<div class="row mt-5">
    <div class="col s12 m6 offset-m3">
        <div class="card center-align">
            <i class="fab fa-node fa-4x"></i>
            <p>Create account or login.</p>
            <br>
            <a href="/user/register" class="btn btn-large red darken-3 white-text">Register</a>
            <a href="/user/login" class="btn btn-large grey darken-1 white-text">Login</a>
        </div>
    </div>
</div>